* { 
    margin: 0;
    margin-top: 0; 
    padding:0;
}

html {
    background: Linen ;
}

#page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

button {
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 6%;
    height: 6%;
    width: 8%;
    border: none;
    font-family: "Arial";
}

#header {
    display: flex;
    justify-content: space-between;    
    height: 6%;
    width: 100%;
    align-items: center;
}

#firstResource {
    margin-left: 1%;
}

.resource {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.resourceIcon {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

#exit {
    height: 100%;
    background: red;
}

#midpage {
    display: flex;
    width: 100%;
}

#trade {
    width: 30%;
}

#dropdowndiv {
    width: 100%;
    height: 6%;
}

#dropdownButton {
    background: lightslategrey;
    width: 100%;
    height: 100%;
    text-align: left;
    text-indent: 10%;
}

/*Dropdown Menu*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: Linen;
    min-width: 30%;
    box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#tradeResourceList {
    display: flex;
    width: 100%;
    height: 50%;
}

#resourceIconColumn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 10%;
    margin-left: 1%;
}

#firstResourceTrade {
    margin-top: 80%;
}

.inputFieldColumn {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 40%;
    flex-direction: column;
}

#sendButton {
    width: 40%;
    margin-top: 1%;
    margin-left: 20%;
    height: 3%;
    line-height: 3%;
    background: mediumblue;
}

.tradeTextArea {
    background: #f6e6d5;
    border-color: black;
    border-width: 2px;
    outline: none;
    resize: none;
    width: 80%;
    overflow: hidden;
    font-size: 1.5em;
    margin-top: 8%;
}

#playersAndDebts {
    width: 62%;
}

#playerList {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    background: cornflowerblue;
    height: 6%;
}

#playerListTitle {
    margin-right: 10px;
    margin-left: 10px;
}

li {
    margin-right: 10px;
    font-family: "Arial";
}

div {
    font-family: "Arial";
    cursor: default;
    font-size: 1em;
}

#sideBar {
    width: 8%;
}

#nextPhase {
    width: 100%;
    background: blue;
}

#board {
    width: 100%;
    background: gold;
}

#debts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    height: 50%;
}

.debtEntry {
    width: 98%;
    margin-left: 1%;
}

.svgCreditDebtIcon {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.playerOwedCredited {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
}

.DCInfo {
    display: flex;
    align-items: center;
    width: 40%;
}

.DCNotes {
    margin-left: 0%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.debtCreditAmount {
    width: 10%;
    text-align: left;
    margin-top: 2%;
}

.debtIcon {
    margin-right: 2%;
    margin-top: 2%;
}

.DCTextArea {
    background: lightgrey;
    border-color: black;
    outline: none;
    resize: vertical;
    overflow: hidden;
    width: 100%;
    font-size: 1.1em;
    max-width: 100%;
}

#chatList {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin-top: 1%;
    margin-left: 1%;
    height: 100%;
    width: 10%;
}

.chatListEntry {
    width: 100%;
    display: flex;
    align-items: center;
}

.listSpan {
    width: 100%;
}

#generalChat {
    outline: 1.5px solid black;
}

.sam {
    color: gold;
}

.jimmy {
    color: red;
}

.andrew {
    color: navy;
}

.evan {
    color: purple;
}

.calvin {
    color: green;
}

.svgChatIcon {
    margin-right: 1%;
}

#footer {
    display: flex;
    width: 100%;
    height: 32%;
}

#chat {
    width: 100%;
    height: 103%;
    float: bottom;
}

#chatTextArea {
    width: 89%;
    margin-left: 1%;
    height: 8.6%;
    resize: none;
    overflow: hidden;
}

#readChat {
    margin-top: 1%;
    margin-left: 1%;
    width: 99%;
    height: 90%;
    background: grey;
}

#messages {
    width: 99.5%;
    margin-left: .5%;
}

#chatSendButton {
    float: right;
    height: 8.6%;
    width: 10%;
}



